<h1>Login</h1>

<%= form_tag '/login', :method => :post do %>

    <label for="">Email</label>
    <%= text_field_tag :email %><br>
    <!-- <input type="text" name="email"> -->
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Login</button>
 <% end %> 
