<h2>Users 123</h2>

<% @users.each do |user| %>
    <p>
        <%= link_to user.name, admins_user_path(user) %> <br>
        <%= link_to 'edit', edit_admins_user_path(user) %>

        <%= link_to 'Destroy', admins_user_path(user), method: :delete %>
    </p>
<% end %>

