<div class="about red-page hor-allign" id="about">
  <div class="default-container">
    <div data-sr class="hor-wrapper">
      <span class="about-title">About</span>
      <hr>
      <p>
        After an incredibly successful inaugural year in 2014, WDI Conf returns in 2015, quickly becoming the must-attend event in the Melbourne meet-up calendar.
        The broad scope of presentations reveal the extent that technology is influencing and shaping our lives. Many aspects that make Melbourne great; food, humour and coffee are touched upon in these talks, making WDI Conf a place for all, not just those within the tech community.
        Located in the heart of Melbourne this two-day event will showcase those in the Melbourne tech community who are shaping the future through cutting edge techniques and the utilisation of ahead-of-the-curve trends within the digital sphere and beyond.
      </p>
    </div>

    <div id="team-images">
      <h3>The team behind WDIConf</h3>
      <hr>
      <div class="circular matt"><p>Aden</p></div>
      <div class="circular matt"><p>Dom</p></div>
      <div class="circular matt"><p>Jeff</p></div>
      <div class="circular matt"><p>Justin</p></div>
      <div class="circular matt"><p>Matt</p></div>
      <div class="circular matt"><p>Mike</p></div>
      <div class="circular matt"><p>Nick</p></div>
    </div>
  </div>
</div>