<div class="about hor-allign" id="about">
  <div class="default-container">
    <div data-sr class="hor-wrapper">
      <span class="about-title">About</span>
      <hr>
      <p>
         Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
      </p>
      <p>
        WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts.
      </p>

    </div>

    <div id="team-images">
      <h3>The team behind WDIConf</h3>
      <hr>
      <div class="circular matt"><p>Aden</p></div>
      <div class="circular matt"><p>Dom</p></div>
      <div class="circular matt"><p>Jeff</p></div>
      <div class="circular matt"><p>Justin</p></div>
      <div class="circular matt"><p>Matt</p></div>
      <div class="circular matt"><p>Mike</p></div>
      <div class="circular matt"><p>Nick</p></div>
    </div>
  </div>
</div>