<div class="about white-page hor-allign" id="about">
  <div data-sr="reset" class="default-container">
    <div class="hor-wrapper">
      <span class="about-title">About</span>
      <hr>
      <div class="about-container">
        <div class="about-desc span-6">
          <p>
             Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
          </p>
          <p>
            WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts.
          </p>
        </div>
        <div class="span-4 off-2">
          <%= image_tag('ideas.png')%>
        </div>

      </div>

    </div>

    <div data-sr="reset" id="team-images">
      <h3>The team behind WDIConf</h3>
      <hr>
      <div class="circular Bob"><p>Bob</p></div>
      <div class="circular dom"><p>Dom</p></div>
      <div class="circular jeff"><p>Jeff</p></div>
      <div class="circular justin"><p>Justin</p></div>
      <div class="circular matt"><p>Matt</p></div>
      <div class="circular mike"><p>Mike</p></div>
      <div class="circular nick"><p>Nick</p></div>
    </div>
  </div>
</div>