<div class="contact white-page hor-allign" id="contact">
  <div class="default-container">
    <div data-sr class="hor-wrapper">
      <span class="contact-title">Contact Us</span>
      <div class="contact-button-wrapper">
      <p>
        Got questions? Comments? Maybe even feeling a little bit lonely?<br>
        Contact us below.
      </p>
      <a href="#"><div class="contact-button">EMAIL</div></a>
      <a href="#"><div class="contact-button">TWITTER</div></a>
      <a href="#"><div class="contact-button">MATTS MOBILE</div></a>
    </div>
    </div>
  </div>
</div>