 <a data-scroll href="#home"><li><i class="fa fa-bars"></i></li></a>
 <a data-scroll href="#home"><li>Home <i class="fa fa-home"></i></li></a>
 <a data-scroll href="#about"><li>About <i class="fa fa-info-circle"></i></li></a>
 <a data-scroll href="#schedule"><li>Schedule <i class="fa fa-calendar"></i></li></a>
 <a data-scroll href="#speakers"><li>Speakers <i class="fa fa-bullhorn"></i></li></a>
 <a data-scroll href="#sponsors"><li>Sponsors <i class="fa fa-smile-o"></i></li></a>
 <a data-scroll href="#contact"><li>Contact <i class="fa fa-envelope"></i></li></a>