<div class="speakers white-page hor-allign" id="speakers">
  <div class="default-container">

    <span class="title-speakers">
      Speakers
      <hr>
    </span>

  <% all_speakers.each do |speaker| %>
      <div data-sr="reset" class="speaker-listing" id="speaker">
        <p class="bio hor-allign hidden">
          <%= speaker.bio %>
        </p>
        <%= image_tag(speaker.photo_url, :class => "speaker_img") if speaker.photo? %>
        <span class="name"><strong><%= speaker.name %></strong></span>
      </div>
    <% end %>
  </div>

  </div>