<div class="sponsors red-page hor-allign" id="sponsors">
  <div class="default-container">
    <div data-sr class="hor-wrapper">
      <span class="sponsors-title">Sponsors</span>
    </div>
  </div>
</div>