<div class="sponsors red-page hor-allign" id="sponsors">
  <div class="default-container">
    <div data-sr="reset" class="hor-wrapper">
      <span class="sponsors-title">Sponsors</span>
      <span class="sponsors-tagline">WDI Conf couldn't have happened without our generous sponsors.</span>
      <hr>
<div class="sponsors-wrapper">
  <div class="sponsor-view view-effect">
       <%= image_tag('ga-logo-alt.png', :class => "ga-logo")%>

  </div>

  <div class="sponsor-view view-effect">
       <%= image_tag('qc-logo-alt.png', :class => "qc-logo")%>
  </div>

  <div class="sponsor-view view-effect">
       <%= image_tag('bond-st-alt.png', :class => "bond-logo")%>
  </div>

  <div class="sponsor-view view-effect">
       <%= image_tag('uber-alt.png', :class => "uber-logo")%>
  </div>
</div>



    </div>
  </div>
</div>