<div class="sponsors red-page hor-allign" id="sponsors">
  <div class="default-container">
    <div data-sr="reset" class="hor-wrapper">
      <span class="sponsors-title">Sponsors</span>
      <span class="sponsors-tagline">WDI Conf couldn't have happened without our generous sponsors.</span>
      <hr>
<div class="sponsors-wrapper">
  <div class="sponsor-view view-effect">  
       <%= image_tag('ga-logo-alt.png', :class => "ga-logo")%>
       <div class="mask">  
       <h2>General Assembly</h2>  
       <p>Working Knowledge</p>  
           <a href="https://generalassemb.ly/" class="info">See More</a>  
       </div>  
  </div>

  <div class="sponsor-view view-effect">  
       <%= image_tag('qc-logo-alt.png', :class => "qc-logo")%>
       <div class="mask">  
       <h2>Queens Collective</h2>  
       <p>Tech Startup Coworking</p>  
           <a href="http://www.queenscollective.com/" class="info">See More</a>  
       </div>  
  </div>

  <div class="sponsor-view view-effect">  
       <%= image_tag('bond-st-alt.png', :class => "bond-logo")%>
       <div class="mask">  
       <h2>Bond Street Kitchen</h2>  
       <p>Your Home Away From Home</p>  
           <a href="http://www.bondstreetkitchen.com.au/" class="info">See More</a>  
       </div>  
  </div>

  <div class="sponsor-view view-effect">  
       <%= image_tag('uber-alt.png', :class => "uber-logo")%>
       <div class="mask">  
       <h2>Uber</h2>  
       <p>Why Catch A Smelly Cab If You Don't Have To?</p>  
           <a href="https://www.uber.com/" class="info">See More</a>  
       </div>  
  </div>
</div>



    </div>
  </div>
</div>