<div class="sponsors red-page hor-allign" id="sponsors">
  <div class="default-container">
    <div data-sr="reset" class="hor-wrapper">
      <span class="sponsors-title">Sponsors</span>
      <span class="sponsors-tagline">WDI Conf couldn't have happened without our generous sponsors.</span>
      <hr>
<div class="sponsors-wrapper">
  <div class="sponsor-view view-effect">  
       <a href="https://generalassemb.ly/" class="info"><%= image_tag('ga-logo-alt.png', :class => "ga-logo")%></a>
  </div>

  <div class="sponsor-view view-effect">  
       <a href="http://www.queenscollective.com/" class="info"><%= image_tag('qc-logo-alt.png', :class => "qc-logo")%>  </a>
  </div>

  <div class="sponsor-view view-effect">  
       <a href="http://www.bondstreetkitchen.com.au/" class="info"><%= image_tag('bond-st-alt.png', :class => "bond-logo")%></a>
  </div>

  <div class="sponsor-view view-effect">  
       <a href="https://www.uber.com/" class="info"><%= image_tag('uber-alt.png', :class => "uber-logo")%></a>
  </div>
</div>



    </div>
  </div>
</div>