  <span class="page-title">Contact</span>

  <a href="/">home</a>


<ul>
    <li><span>Email: </span><span>wdcinfo2015@wdi.com</span></li>
    <li><span>Phone: </span><span>03 9999 0000</span></li>
    <li><span>Facebook: </span><span>www.facebook.com</span></li>
    <li><span>Tumblr: </span><span>www.tumblr.com</span></li>
    <li><span>Instagram: </span><span>www.instagram.com</span></li>
    <li><span>Address: </span><span>20 Queens St Melbourne Vic 3000</span></li>
</ul>