  <div class="home-page" id="home">
    <div class="home-container">
    <%= image_tag('logowhite.png', :class=> "home-logo span-6")%>
    <p class="span-6 off-4">
      WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts. Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
    </p>
  </div>
</div>