
/*---ABOUT PAGE---*/

#about {

}

.about-title{
  display: block;
  text-align: center;
  font-size: 50px;
  color: #e74c3c;
  margin-top: 100px;
}

.about-desc {
	margin-top: 50px;
}

.about-desc p{
  text-align: center;
  font-size: 20px;
}

.about-container img {
	max-width: 100%;
}



/* TEAM STUFF */

#team-images {
	margin-top: 60px;
	text-align: center;
}

.circular {
	display: inline-block;
	width: 110px;
	height: 110px;
	border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	margin: 20px 5px;
}

.circular p {
	line-height: 110px;
	margin: 0;
	color: transparent;
}

.circular:hover{
  background: rgba(0,0,0,0.7);
}

.circular:hover p {
	color: white;
}

.Bob {
	background: url('Bob.jpg');
	background-size: cover;
}

.dom {
	background: url('dom.jpg');
	background-size: cover;
}
.jeff {
	background: url('jeff.jpg');
	background-size: cover;
}

.justin {
	background: url('justin.jpg');
	background-size: cover;
}

.matt {
	background: url('matt.jpg');
	background-size: cover;
}

.mike {
	background: url('mike.jpg');
	background-size: cover;
}

.nick {
	background: url('nick.jpg');
	background-size: cover;
}


