/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: raleway;

}

nav{
  position: fixed;
  text-align: right;
  height: 100%;
  background: white;
  left: 0;
  width: 10%;
  text-transform: uppercase;
}
nav ul{
  padding: 0;
}

nav ul a li{
  font-size: 1vw;
  width: 100%;
  margin-bottom: 50px;
  height: 5vh;
  line-height: 5vh;
  padding-right: 1em;
}

nav ul a{
  color: red;
  font-family: raleway;
  text-decoration: none;
}

nav ul a li:hover{
  transition: 0.2s ease all;
  background-color: #e74c3c;
  color: white;
}


.default{
  transition: 0.3s ease all;
  margin-left: -7%;
}

.nav-expand{
  transform: translateX(0%);
  transition: 0.3s ease all;
}


nav ul{
  list-style-type: none;
}

/*END OF NAV*/

.container{
  width: 80%;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 5%;
  height: 100%;
}

.page-title{
  font-size: 56px;
  font-weight: 500;
}

/*PAGE COLOURS*/
.red{
  background-color: #e74c3c;
  height: 100%;
  width: 100%;
  margin-top: 0;
  transition: 1s;
}

.off-white{
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
  margin-top: 0;
  transition: 1s;
}
/*END OF COLOUR*/

.canvas{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;

}

.shade img{
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 100%;
  opacity: 0.5;
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  -webkit-user-drag: none;
  user-drag: none;
}




/*---END OF LAYOUT STYLES---*/


/*---SUPER SPECIAL HOME PAGE STYLEZZZ---*/
.home-page{
  height: 100%;
  width: 100%;
  margin-top: -5%;
/*  background: url(background-home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.home-page img{
  display: block;
  margin: auto;
}

.home-page p{
  display: block;
  font-family: raleway;
  color: white;
  text-align: center;
  font-size: 18px;
}

.home-container{

}


