/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: raleway;
  background: linear-gradient(135deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 50%) fixed;
/*  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;*/

}

nav{
  position: fixed;
  text-align: right;
  height: 100%;
  background: white;
  left: 0;
  width: 150px;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
}
nav ul{
  padding: 0;
}

nav ul li{
  width: 100%;
  margin-bottom: 20px;
  line-height: 4vh;
  padding: 0.6em 1em 0.6em 0;
}

nav ul a{
  font-size: 14px;
  color: #e74c3c;
  font-family: raleway;
  text-decoration: none;
}

nav ul li:hover{
  transition: 0.2s ease all;
  background-color: #e74c3c;
  color: white;
}

nav .fa{
  font-size: 24px;
  padding-left: 15px;
  vertical-align: sub;
}

nav .fa-bars{
  font-size: 30px;
}

.nav-toggle{
  display: none;
}


.default{
  transition: 0.3s ease all;
  margin-left: -100px;
}

.nav-expand{
  transform: translateX(0%);
  transition: 0.3s ease all;
}


nav ul{
  list-style-type: none;
}

.logged-in {
  text-align: center;
}

.logged-in a {
  display: block;
  margin-top: 50px;
  margin-bottom: 15px;
}

.off-white{
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
  margin-top: 0;
  transition: 1s;
}


.hor-allign{

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}


.notice {
  display: block;
  text-align: center;
}


/*---END OF LAYOUT STYLES---*/


/*---SUPER SPECIAL HOME PAGE STYLEZZZ---*/
.red-page{
  width: 100%;
  min-height: 100%;
  /*background: linear-gradient(135deg, #e74c3c 50%, #e56054 50%);*/
  background: rgba(231,76,60,0.9);
}

.white-page{
  width: 100%;
  min-height: 100%;
  background-color: rgba(235,235,235,0.9);
}

.white-page-small{
  width: 100%;
  min-height: 60%;
  background-color: rgba(235,235,235,0.9);
}

.default-container{
  width: 70%;
  margin: auto;
  padding-left: 50px;
}

.home img{
  display: block;
  margin: auto;
}

.home p{
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
}

#bounce-arrow {
  text-align: center;
  color: white;
  font-size: 50px;
  /*margin-top: 50px;*/
}

#bounce-arrow a{
  outline: none;
  color: white;
}

#bounce-arrow a:visited, #bounce-arrow a:focus{
  display: none;
}

hr{
  width: 50%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#details-overview {
  text-align: center;
  color: white;
  height: 100px;
  margin-bottom: 50px;
}

#melbourne {
  line-height: 100%;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  margin-right: -5px;
}

#melbourne h2 {
  font-size: 2.3em;
}

#wdi-details {
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

#wdi-details h3, h4{
  text-align: left;
  line-height: 60%;
}

#wdi-details h4 {
  margin-bottom: 17.5px;
}





/*---SPEAKERS PAGE---*/
.speaker-listing{
  transition: 0.5s ease all;
  width: 30%;
  margin: 1% 1% 1% 1%;
  background-color: #e74c3c;
  display: inline-block;
  text-overflow: ellipsis;
  position: relative;
}

.title-speakers{
  display: block;
  text-align: center;
  font-size: 50px;
  color: #e74c3c
}

.speaker-listing img{
  width: 100%;
  /*border-radius: 100%;*/
}

.speaker-listing .name{
  display: block;
  text-align: center;
  padding: 5px 0 5px 0;
  width: 100%;
  font-size: 1vw;
  text-transform: uppercase;
  text-decoration: bold;
  line-height: 1vw;
  white-space: nowrap;
  background-color: white;
  color: #e74c3c;
}

.speaker-listing .bio{
  width: 100%;
  background: rgba(0,0,0,0.8);
  height: 100%;
  position: absolute;
  margin: 0;
  color: white;
  text-align: center;
  padding: 10%;
  font-size: 1vw;
}


/*---CONTACT PAGE---*/

.contact{
}

.contact-title{
  display: block;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.contact-button{
  text-align: center;
  width: 32%;
  background: #e74c3c;
  height: 50px;
  display: inline-block;
  color: white;
  line-height: 50px;
  margin: auto;
}

.contact-button-wrapper{
  width: 100%;
  margin: auto;
}

.contact p{
  text-align: center;
}

.hidden{
  transition: 0.3s ease all;
  opacity: 0;
}

.active{
  opacity: 1;
  transition: 0.3s ease all;
}

/*---ABOUT PAGE---*/
.about-title{
  display: block;
  text-align: center;
  font-size: 50px;
  color: #e74c3c;
}

.about p{
  text-align: center;
  font-size: 24px;
}


/*---SPONSORS---*/
  .sponsors-title{
      display: block;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: white;
  }

  .sponsors-tagline{
    text-align: center;
    color: white;
    display: block;
  }


  /*SCHEDULE PAGE*/

  .schedule-title{
  display: block;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: #e74c3c;
  }

.schedule-title{
  display: block;
  text-align: center;
  font-family: 50px;

}

.event-listing{
  width: 100%;
  background: white;
  position: relative;
}

.event-listing .listing-banner{
  display: block;
  background-color: #e74c3c;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.listing-banner > .listing-time{
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.listing-banner > .listing-name {
  margin-left: 2%;
}

.listing-details{
  position: relative;
}

.listing-details > img{
  width: 150px;
  display: inline-block;
}

.listing-details > .listing-title {
  position: absolute;
  top: 0;
  font-weight: 900;
  font-size: 32px;
  color: #e74c3c;
}

.listing-details > p{
  display: inline-block;
  font-size: 18px;
}


.listing-time{
}

.btnBookNow-sq{
  background-color: #e74c3c;
    /*height: 65px;*/
    /*width: 100%;*/
    /*display: block;*/
    border: none;
    /*padding: 4px 8px;*/
    text-decoration: none;
    vertical-align: middle;
    position: absolute;
    bottom: 0px;
    right: 0;
    /*font-size: 20px;*/
    color: white;
    font-family: raleway;
    width: 100px;
    height: 40px;
    border-bottom: 1px solid white;
}

.btnBookNow-sq a, .btnBookNow-sq a:visited{
  text-decoration: none;
  color: white;
}






/*---MEDIA QUERIES---*/

@media screen and (max-width: 1000px) {
  #melbourne {
    border-bottom: none;
  }

  #melbourne h2 {
    font-size: 1.5em;
  }

  #wdi-details {
    display: block;
    border-top: none;
    margin: 0 auto;
    width: 33.33332%;;
  }

  #wdi-details h3, h4{
    font-size: .8em;
    text-align: center;
  }

  #wdi-details h3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {

  #melbourne {
    width: 50%;
  }

 #melbourne h2 {
    font-size: 1em;
  }

  #wdi-details {
    width: 50%;;
  }

  #wdi-details h3, h4{
    font-size: .6em;
  }

}


@media only screen
  and (max-device-width: 736px)
 {

    .home img{
      width: 100%;
    }

    .default{
      margin-left: -150px;
    }

    .nav-toggle{
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      font-size: 2em;
      color: white;
      font-size: 3em;
    }
    .nav-toggle-slide{
  transform: translateX(150px);
  transition: 0.3s ease all;
  }
    nav .fa-bars{
      display: none;
    }

    p{
    }

    .speaker-listing{
  width: 80%;
  margin: 2% 2% 2% 2%;
  background-color: #e74c3c;
  display: block;
  text-overflow: ellipsis;
  margin: auto;
  margin-bottom: 5%;
}



  .default-container{
    padding-left: 0px;
  }

  .speaker-listing .name{
    /*font-size: 10px;*/
  }



}













