/*.event {
	margin: 0 30px 50px;
}
*/
.speaker {
	float: right;
	text-align: center;
	width: 35%;
	margin-left: 10px;
}

.speaker img {
	border-radius: 50%;
}

.speaker p {
	font-style: italic;
}

.next {
	float: right;
}


/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*----------------------------------*/
/* Clearfix for floats              */
/*----------------------------------*/
.cf:before,
.cf:after {
   content:"";
   display:table;
}
.cf:after {
   clear:both;
}
.cf {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/*-----------------------------------*/
/* Schedule Page                     */
/*-----------------------------------*/


.page-title {
  font-family: 'Raleway';
  color: #e74c3c;
  font-size: 40px;
  margin-left: 4em;
}


/* ---- isotope ---- */

.grid-isotope {
  width: 55%;
  margin: 0 auto;
/*  border: 1px solid #333;*/
}

/* clear fix */
.grid-isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  border: 2px solid #e74c3c;
  position: relative;
  font-family: 'Roboto Condensed', Arial, Sans-Serif;
  float: left;
  width: 200px;
  height: 250px;
  margin: 5px;
  padding: 10px;
  background: white;
  color: #e74c3c;
  text-align: center;
}

.element-item > * {
  margin: 0;
  padding: 0;
}


.element-item .events-title {
  position: absolute;
  left: 10px;
  top: 22px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.element-item .events-time {
  position: absolute;
  font-weight: bold;
  right: 8px;
  top: 5px;
}

.element-item .events-description {
  position: absolute;
  left: 10px;
  top: 110px;
  font-size: 14px;
}

.element-item .events-speaker {
  position: absolute;
  left: 10px;
  bottom: 24px;
  font-size: 18px;
}

.element-item .btnBookNow {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 12px;
}

/* BOOK NOW BUTTON STYLING*/
  .btnBookNow {
   border: 1px solid #3185FC;
   background: #3185FC;
   padding: 4px 8px;
   font-size: 11px;
   font-family: 'Roboto Condensed', Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
/*   border-bottom-right-radius: 20px;*/
   }
  .btnBookNow a {
    color: white;
    text-decoration: none;
  }
  .btnBookNow:hover {
   background: #white;
   color: #0266C8;
   }
  .btnBookNow:active {
   background: #1b435e;
   }
