.event .default-container h1 {
  color: white;
}

.speaker {
	float: right;
	text-align: center;
	width: 35%;
	margin-left: 10px;
}

.speaker img {
	border-radius: 50%;
}

.speaker p {
	font-style: italic;
}

.next {
	float: right;
}


/*----------------------------------*/
/* Clearfix for floats              */
/*----------------------------------*/
.cf:before,
.cf:after {
   content:"";
   display:table;
}
.cf:after {
   clear:both;
}
.cf {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

