/*.event {
	margin: 0 30px 50px;
}
*/
.speaker {
	float: right;
	text-align: center;
	width: 35%;
	margin-left: 10px;
}

.speaker img {
	border-radius: 50%;
}

.speaker p {
	font-style: italic;
}

.next {
	float: right;
}


/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*----------------------------------*/
/* Clearfix for floats              */
/*----------------------------------*/
.cf:before,
.cf:after {
   content:"";
   display:table;
}
.cf:after {
   clear:both;
}
.cf {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/*----------------------------------*/
/* Modal for login                  */
/*----------------------------------*/

.modal-background {
	position: fixed;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
}

.join-event-modal {
	position: fixed;
	top: 20%;
	left: 30%;
	height: 320px;
	background-color: #fff;
	width: 40%;
	border-radius: 10px;
	padding: 30px;
}

.join-event-modal .close-modal {
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
}

.join-event-modal h2 {
	margin-top: 0;
	text-align: center;
}

.field {
	line-height: 300%;
}

.field label {
	display: inline-block;
	width: 30%;
}

.field input {
	width: 65%;
	height: 30px;
	font-size: 110%;
}

.actions {
	text-align: center;
}

.actions input[type="submit"] {
	margin: 30px;
}







