/*------------------------USER STYLE-----------------------*/
body {
  margin: 0;
}


/*--------------------------SPANS-DONT CHANGE------------------------*/

html{
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.inline {
  display: inline-block;
  
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12{
  vertical-align: top;
  display: inline-block;
}

.span-1{width: 8.33333%;}
.span-2{width: 16.66666%;}
.span-3{width: 24.99999%;}
.span-4{width: 33.33332%;}
.span-5{width: 41.66665%;}
.span-6{width: 49.99998%;}
.span-7{width: 58.33331%;}
.span-8{width: 66.66664%;}
.span-9{width: 74.99997%;}
.span-10{width: 83.3333%;}
.span-11{width: 91.66663%;}
.span-12{width: 100%;}

.off-2{margin-left: 8.33333%;}
.off-3{margin-left: 16.66666%;}
.off-4{margin-left: 24.99999%;}
.off-5{margin-left: 33.33332%;}
.off-6{margin-left: 41.66665%;}
.off-7{margin-left: 49.99998%;}
.off-8{margin-left: 58.33331%;}
.off-9{margin-left: 66.66664%;}
.off-10{margin-left: 74.99997%;}
.off-11{margin-left: 83.3333%;}
.off-12 {margin-left: 91.66663%;}

