/*----------------------------------*/
/* Modal for login                  */
/*----------------------------------*/

.modal-background {
	display: none;
	position: fixed;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
}

.join-event-modal {
	position: fixed;
	top: 20%;
	left: 30%;
	background-color: #fff;
	width: 40%;
	border-radius: 10px;
	padding: 30px;
}

.join-event-modal .close-modal {
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
}

.join-event-modal h2 {
	margin-top: 0;
	text-align: center;
}

.field {
	line-height: 300%;
}

.field label {
	display: inline-block;
	width: 30%;
}

.field input {
	width: 65%;
	height: 30px;
	font-size: 110%;
}

.actions {
	text-align: center;
}

.actions input[type="submit"] {
	margin: 30px;
}

.close-modal {
	padding: 10px;
}


