

#sponsor-heading {
  width: 80%;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1em;
  padding-top: 1.5em;
  padding-left: 1.5em;
}




/*************************************/

.sponsor-view {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    /*background: #fff no-repeat center center;*/


}
.sponsor-view .mask, .sponsor-view .content {
    width: 100%;
    height: inherit;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.sponsor-view img {
    width: 100%;
    position: relative
}
.sponsor-view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 40px 0 0 0;
    font-family: 'Raleway';
    font-weight: 500;
}
.sponsor-view p {
    font-family: 'Raleway';
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 20px 20px 20px;
    text-align: center;
}
.sponsor-view a.info {
    font-family: 'Raleway';
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #fff;
    text-transform: uppercase;
    /*box-shadow: 0 0 1px #000*/
}
.sponsor-view a.info:hover {
    /*box-shadow: 0 0 5px #000*/
}

.sponsors-wrapper{
  margin: auto;
}


.view-effect img {   
  transition: all 0.2s ease-in; 
}
.view-effect .mask { 
  background: rgba(0,0,0,0.5);
  opacity: 0;

  transition: 0.4s ease all;
}
.view-effect h2{

  transition: 0.4s ease all;
}
.view-effect p { 

  transition: 0.4s ease all;
}
.view-effect a.info { 

  transition: 0.4s ease all;
} 



.view-effect:hover .mask { 
  opacity:1; 
  transition-delay: 0s;              
  transform: translate(0px, 0px);
}
.view-effect:hover h2 { 
  transform: translateY(0px); 
}
.view-effect:hover p { 
  transform: translateX(0px) rotate(0deg);

}
.view-effect:hover a.info { 
  transform: translateY(0px);

}
