.img_team {
    max-height: 50px;
    max-width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

body {
/* IE10 Consumer Preview */
background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* Opera */
background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #FFFFFF), color-stop(1, #C70000));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #C70000 100%);
}

#team-images {
	text-align: center;
}

.circular {
	display: inline-block;
	width: 110px;
	height: 110px;
	border-radius: 55px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	margin: 20px 5px;
}

.circular p {
	line-height: 110px;
	margin: 0;
	color: transparent;
}

.matt {
	background: url('dom.jpg');
	background-size: cover;
}

.circular:hover{
  background: rgba(0,0,0,0.7);
}

.circular:hover p {
	color: white;
}



