img {
    max-height: 50px;
    max-width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

body {
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #FFFFFF), color-stop(1, #C70000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #C70000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #C70000 100%);
}