<div class="admin-pages">
    <h2>Choose an event to see the attendees</h2>

    <table class="admin" border="1">
      <tr><th>Title</th><th>Tickets Sold</th><th>Maximum Tickets</th></tr>
    <% @events.each do |event| %>
        <tr>
            <td class="admin-left"><%= link_to event.title, admins_attendee_path(event) %></td>
            <td><%= event.tickets_sold %></td>
            <td><%= event.max_tix %></td>
        </tr>
    <% end %>
    </table>

    <%= render :partial => 'admins/pages/admin' %>
</div>


