<div class="admin-pages">
    <h1>Attendees for event "<%= @event.title %>":</h1>
    <table class="admin" border="1">
      <tr><th>name</th></tr>
      <% @attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.name %></td>
          </tr>
        <% end %>


    </table>
    <%= render :partial => 'admins/pages/admin' %>
</div>


